scripts/
build/
builds/
*egg*/
*.tsv
*.pyc
*.so
*.pyd
*.db
*.gbrl_model
*.tfevents
*venv*/
build/
*.egg-info
*.json
*.sh
dist/
docs/_build/
*.whl
*ncu-rep
*.sh
*.nfs*
Dockerfile
local_binaries/
binaries/