include gbrl/src/cuda/*.cu
include gbrl/src/cuda/*.h
include gbrl/src/cuda/CMakeLists.txt
include gbrl/src/cpp/*.cpp
include gbrl/src/cpp/*.h
include gbrl/src/cpp/CMakeLists.txt
include README.md
include LICENSE
include LICENSES.txt
include CMakeLists.txt