name: Deploy Documentation to GitHub Pages

on:
  push:
    branches:
      - master  # Or the branch you want to deploy from
    paths:
      - 'docs/**'   # Trigger on changes to files in the docs directory
      - 'gbrl/**'   # Trigger on changes to files in the gbrl directory
      - '.github/workflows/deploy.yml'  # Trigger on changes to this workflow file
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx
          pip install sphinx-rtd-theme
          # pip install numpy
          # pip install torch
          # pip install .

      - name: Build documentation
        run: |
          set -e
          cd docs
          make html
          
      - name: Deploy to GitHub Pages
        run: |
          set -e
          mkdir gh-pages
          cp -r docs/_build/html/* gh-pages/
          touch gh-pages/.nojekyll
          cd gh-pages
          git init
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add .
          git commit -m "Deploy documentation to GitHub Pages"
          git branch -M gh-pages
          git remote add origin https://${{ secrets.GH_TOKEN }}@github.com/NVlabs/gbrl.git
          git push --force origin gh-pages
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
